@{
    ViewBag.Title = "Home Page";
}

<div class="row">
      
    <div class="col-md-10 offset-md-1">
        <p>
            This website was built while following along with the Pluralsight course
            <strong>Building a Web App with ASP.NET Core, MVC, Entity Framework Core, Bootstrap, and Angular</strong> by Shawn Wildermuth
        </p>

        <p>
            A brief summary of the course is as follows:

            <div class="font-italic">
                ASP.NET Core is a mature, stable platform for developing web applications and APIs.
                This course will walk you through building a web app from scratch using ASP.NET Core 3.0, Visual Studio,
                Entity Framework Core 3.0, Bootstrap 4, and Angular (v8)
            </div>
        </p>

        <p>
            More info can be found here:
            <a href="https://app.pluralsight.com/library/courses/aspnetcore-mvc-efcore-bootstrap-angular-web">https://app.pluralsight.com/library/courses/aspnetcore-mvc-efcore-bootstrap-angular-web</a>
        </p>

        <p>
            The Dutch Treat website is an MVC website for all views except for the Shop and for the web APIs.  The shop pages have been created using Angular.  There is a SQL Azure database backing the website.
        </p>

        <p>
            The course material was originally written for ASP.NET Core 2.1 I believe and then updated to ASP.NET Core 3.0... but not all the course material has been
            updated appropriately, and libraries and frameworks and .NET Core itself has obviously progressed on since even the course update.
        </p>

        <p>
            I've used .NET Core 3.1, EF Core 3.1.3, Bootstrap 4.5 and Angular 10.0.2
        </p>

        <p>
            Overall the course (while frustrating because of the gaps between when it was written and how things are now) was a great example showing the core concepts
            for building an end to end web app using some key technologies.  It paired back things to basics to give you an understanding of how everything works from
            setting up the middleware pipeline, to setting up MVC controllers and views, basic HTML, CSS and JS concepts, expanded to cover bootstrap and TypeScript and
            how they relate, repository pattern with EF, dependency injection, Web API, standard responses, authentication and authorization with cookies and JWT, Angular
            components and services, publishing to a server or Azure etc.  As with any course it's a lot to cover and is more intended to make you aware of what's
            possible so you can then go out and find out more information on each area as required.
        </p>

        <p>
            So have a play, order some Dutch treats!
        </p>
    </div>
</div>